h1{
    text-align: center;
    color: dodgerblue;
}
img{
    max-width: 400px;
}

#thirdDiv{
    width:500px;
    height: 600px;
    background-color: crimson;
    padding:50px;
    border: dotted 13px blueviolet;
}

#spanId{
    font-size:18px;
    margin:50px;
}